/* ----- Model de caixa alternatiu  ----- */
* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ----- Definició de la font Noto Sans de Google Fonts per tot el lloc web  ----- */
html {
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}  

/* ----- Custom properties per les variables (amb noms descriptius en comptes de colors) ----- */
:root {
    --color-principal: rgb(23 23 23);
    --color-hover-ellaços-especials-i-boto-enviament: rgb(218 245 9);
    --color-textos-sobre-fons-negre: rgb(255 255 255);
    --color-fons-capçalera-taula-tallers: rgb(23 23 23 / 0.1);

    --font-weight-textos-generals: 400;
    --font-weight-cite-i-capçalera-taula-tallers: 700;
    --font-weight-descobrir-i-subtitol-index: 900;
}

/* ----- Redefinició d'etiquetes generals ja definides per HTML5 ----- */
cite {
    font-weight: var(--font-weight-cite-i-capçalera-taula-tallers);
}

abbr {
    text-decoration: none;
    cursor: help;
}

h1 {
    font-size: 3rem;
    margin: 45px 0 30px 0;
}

h1.h1-article-del-mes {
    margin-top: 0;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 25px;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 15px;
}

h4 {
    font-size: 1rem;
    margin-right: 5px;
}

h1, h2, h3, h4 {
    font-weight: var(--font-weight-textos-generals);
}

p {
    margin: 1rem 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

figcaption {
    text-align: center;
    font-size: 0.85rem;
    margin: 5px 0 25px 0;
}

/* Container del contingut principal (gran) */
.container-gran {
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Container del contingut principal (petit) */
.container-petit {
width: 100%;
max-width: 850px;
margin-right: auto;
margin-left: auto;
padding-right: 1rem;
padding-left: 1rem;
}

.container-gran, .container-petit  {
    font-size: 1.1rem;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
    font-weight: var(--font-weight-textos-generals);
    color: var(--color-principal);
}

/* Incorporació d'imatge de fons amb CSS */
body.body-index {
    background-image: url("../img/home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* La imatge cobreix tot el viewport */
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

header a {
    text-decoration: none;
    color: var(--color-textos-sobre-fons-negre);
    transition: color 0.25s ease;
}

header a:hover {
    color: var(--color-hover-ellaços-especials-i-boto-enviament);
}

.header-index {
    text-align: center;
    padding: clamp(1vh, 1vw, 1rem) 0 0 0;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
}

.header-index nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 43px;
}

.header-alternatiu {
    background-color: var(--color-principal);
    color: var(--color-textos-sobre-fons-negre);
    padding: 20px 0 30px 0;
}

.container-gran.header-alternatiu-container {
    text-align: left;
}

.container-gran.header-alternatiu-container a.logo {
    font-size: 2rem;
    font-weight: var(--font-weight-descobrir-i-subtitol-index);
    text-decoration: none;
}

/* Incorporada amb CSS, mostra a la seva esquerra la imatge decorativa isologo-white.svg. */
.container-gran.header-alternatiu-container a.logo::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-image: url("../img/isologo-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Quadrat decoratiu de color verd on es trobi l'usuari */
.container-gran.header-alternatiu-container nav a.active::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--color-hover-ellaços-especials-i-boto-enviament);
    display: block;
    margin: 10px 0 0 0;
}

.container-gran.header-alternatiu-container nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 35px;
}

.container-gran.header-alternatiu-container nav ul li a {
    font-weight: var(--font-weight-textos-generals);
}

nav li {
    margin: 2.5px;
}

.main-index {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    padding-top: 14.75vh;
    color: var(--color-textos-sobre-fons-negre);
    position: relative;
    
}

.main-index .contenidor-logotip {
    position: relative;
    display: inline-block;
    width: 100%;
    
}

.main-index h1 {
    font-size: clamp(3rem, 9vw, 9rem);
    margin: 5vh 0 1vh 0;
    line-height: 1;
    font-weight: var(--font-weight-descobrir-i-subtitol-index);
    position: relative;
    text-align: center;
    display: inline-block;
}

/* "El nom del lloc web mostra en la seva part superior la imatge decorativa isologo-white.svg que ha d’incorporar-se mitjançant CSS." */
.main-index .contenidor-logotip h1::before {
    content: "";
    position: absolute;
    top: -0.55em;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(2rem, 4vw, 6rem);
    height: auto;
    aspect-ratio: 1/1;
    background-image: url("../img/isologo-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-index h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: var(--font-weight-descobrir-i-subtitol-index);
    margin-bottom: 0;
    line-height: 1;
}

footer {
    width: 100%;
    text-align: center;
}

footer a {
    color: var(--color-textos-sobre-fons-negre);
    text-decoration: none;
    cursor: pointer;
}

footer a:hover { 
   color: var(--color-hover-ellaços-especials-i-boto-enviament);
}

footer.footer-index {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 27vh;
    font-size: 0.8rem;
    color: var(--color-textos-sobre-fons-negre);
}

.footer-index p {
    margin: 0;
}

.footer-links {
    display: inline;
}

.footer-links a::after {
    content: " · ";
    margin: 0 7.5px;
}

/* Eliminar el tercer " · " */
.footer-links a:last-child::after {
    content: "";
}

.footer-alternatiu {
    background-color: var(--color-principal);
    color: var(--color-textos-sobre-fons-negre);
}

.container-gran.footer-alternatiu-container {
    padding-top: 0.5px;
    padding-bottom: 30px;
    text-align: left;
    font-size: 0.8rem;
}

.container-gran.footer-alternatiu-container p {
    margin-bottom: 5px;
}

a.enllaç-dins-text {
    color: var(--color-principal);
    text-decoration: underline dotted;
    text-underline-offset: 5px;
    transition: color 0.25s ease;
}

 a.enllaç-dins-text:hover {
    text-decoration: underline solid;
}

/* ----- Estils específics d'article-del-mes.html ----- */
.article-header {
    display: flex;
    margin: 40px 0 10px 0;
}

.article-del-mes {
    background-color: var(--color-principal);
    color: var(--color-textos-sobre-fons-negre);
    padding: 0rem 0.5rem;
}

.introduccio {
    font-size: 1.5rem;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.llista-categories-pare {
    list-style-type: square;
    padding-left: 32px;
    gap: 50px;
}

.llista-categories-pare li {
    margin-bottom: 13px;
}

.llista-categories-fill {
    padding-left: 30px;
}

.llista-categories-fill li {
    list-style-type: circle;
    margin: 7.5px;
}

.video-figure iframe {
    width: 100%;
    aspect-ratio: 16 / 9; /* Manté la relació d'aspecte original */
    display: block;
    margin: 0 auto;
    border: 0;
    border-radius: 10px;
}

.ultim-paragraf {
    font-size: 0.75rem;
    margin: 50px 0 60px 0;
}

figure > img,
figure > iframe {
    display: block;
}

/* ----- Estils específics de tallers.html ----- */
table {
    width: 100%;
    margin: 50px auto 100px auto;
    border-collapse: collapse;
}

th.titol-taula {
    font-size: 2rem;
    text-align: center;
    padding: 15px;
}

th {
    position: relative;
    background-color: var(--color-fons-capçalera-taula-tallers);
    font-weight: var(--font-weight-cite-i-capçalera-taula-tallers);
    font-size: 1rem;
    padding: 15px 32px;
}

th::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 15px;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
}

.th-data::before {
    background-image: url("../img/icon-calendar.svg");
}

.th-cuiner::before {
    background-image: url("../img/icon-chef-hat.svg");
}

.th-pais::before {
    background-image: url("../img/icon-country.svg");
}

.th-activitat::before {
    background-image: url("../img/icon-recipe.svg");
}

.th-nivell::before {
    background-image: url("../img/icon-level.svg");
}

.th-hora::before {
    background-image: url("../img/icon-clock.svg");
}

td {
    padding: 15px 7.5px;
}

th,
td {
  border: 1px solid var(--color-principal);
  text-align: left;
}

td.footer-taula {
    font-size: 0.79rem;
}

/* ----- Estils específics d'inscripcio.html ----- */
main.inscripcio {
    margin-bottom: 90px;
}

.informacio-adicional {
    font-size: 0.9rem;
    margin: 30px 0;
}

.asterisc {
    color: red;
}

fieldset {
    border-radius: 10px;
    border: 1px solid var(--color-principal);
    margin-bottom: 25px;
    padding-bottom: 10px;
}

fieldset.dues-columnes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

fieldset div {
    display: flex;
    flex-direction: column;
    margin: 0 25px 25px 20px;
    gap: 5px;
}

fieldset p {
    margin-top: 0;
    margin-left: 20px;
}

legend {
    margin-left: 20px;
    margin-bottom: 25px;
    padding: 0 10px;
    font-size: 1.3rem;
}

select {
    background-color: transparent;
}

input, select {
    height: 40px;
}

input, select, textarea {
    border: 1px solid var(--color-principal);
    padding: 7.5px 0 7.5px 7.5px;
    font-size: 1.1rem;

}

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 5px 4px var(--color-hover-ellaços-especials-i-boto-enviament);
    transition: box-shadow 0.25s ease;
}

input:required:invalid, select:required:invalid, textarea:required:invalid {
    border: 1px solid #ff0000;
}

input:required:valid, select:required:valid, textarea:required:valid {
    border: 1px solid #4caf50;
}

label.requerit::after {
    content: " *";
    color: red;
}

*::placeholder {
    font-style: italic;
}

.radio-title {
    margin: 10px;
    font-size: 1.3rem;
}

.radio-buttons {    
    margin: 0 0 10px 51px;
    padding: 0;
    list-style: none;
}

.radio-option {
    margin: 0;
    padding: 0;
}

.radio-option label {
    display: flex;
    align-items: center;
    gap:  13px;
}

.radio-option input {
    margin: 0;
    padding: 0;
}

.informacio-form {
    font-size: 0.81em;
    margin-top: 40px;
    margin-bottom: 5px;
}

.checkbox-politica {
    display: flex;
    align-items: center;
    gap: 11px;
    margin: 0;
}

.boto-inscriume {
    background-color: var(--color-hover-ellaços-especials-i-boto-enviament);
    color: var(--color-principal);
    cursor: pointer;
    font-size: 1.1rem;
    padding: 7.5px;
    margin-top: 5px;
    border: none;
}